body, ul, li, logo, h1, h2, h3, p, hr, img, input, section {
     margin: 0;
     padding: 0;
 }
 
 * {
     box-sizing: border-box;
 }

 body {
  background: #FCFCFC;
 }

 h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 135%;
 }
 
 .header {
     background: #002547;
 }
 
 .wrapper {
     max-width: 1600px;
     margin: 0 auto;
 }
 
 .header__wrapper {
     padding: 67px 231px 130px 231px;
     background: url('./img/computer.png') no-repeat;
     background-position-x: 772px;
     background-position-y: -20px;
     background-size: 832px;
 } 
 
 .header__top-inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .logo {
     width: 110px;
     height: 42px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .logo__text {
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 33px;
     color: #FFFFFF;
 }
 
 .menu__list {
     display: flex;
 }
 
 .menu__list-item {
     font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.6);
      margin-right: 40px ;
      list-style: none;
 }
 
 .menu__list-item:last-child {
     margin-right: 0px
 } 
 
 .btn {
     border-radius: 5px;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 130%;
     outline: none;
     border: none;
     cursor: pointer;
 }
 
 .header__btn-top {
     width: 147px;
     height: 53px;
     background: #FFFFFF;
     color: #1D92FF;
 }
 
 .header__description {
     margin-top: 126px;
 }
 
 .description__subtitle {
     font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #1D92FF;
      letter-spacing: 0.05em;
      text-transform: uppercase;
 }
 
 .header__content-title {
     font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 140%;
      text-transform: capitalize;
      color: #FFFFFF;
      width: 580px;
 }
 
 .header__content-title--underline {
     font-weight: 600;
      color: #1D92FF;
      position: relative;
 }
 
 .header__content-title--underline::before {
     content: '';
     width: 59px;
     height: 3px;
     background-color: #1D92FF;
     top: 59px;
     position: absolute;
 }
 
 .header__content-title--underline::after {
     content: '';
     width: 59px;
     height: 3px;
     background-color: #FFFFFF;
     top: 59px;
     right: 0px;
     position: absolute;
 }
 
 .header__content-title--blue {
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 60px;
     line-height: 140%;
     text-transform: capitalize;
     color: #1D92FF;
 }
 
 .header__content-description--center {
     margin-top: 25px;
      margin-bottom: 40px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.7);
      width: 392px;
 }
 
 .header__content-description--underline {
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 160%;
     text-decoration-line: underline;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.9);
 }
 
 .hesder__btn-content--white {
     width: 205px;
     height: 53px;
 }
 
 .hesder__btn-content--blue {
     margin-left: 30px;
     margin-bottom: 40px;
     text-transform: capitalize;
     color: #FFFFFF;
     width: 205px;
     height: 53px;
     border: 1px solid rgba(255, 255, 255, 0.1);
     box-sizing: border-box;
     border-radius: 3px;
     background: #002547;
 }
 
 .header__content-description--bottom {
     margin-top: 14px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 140%;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.5);
     width: 408px;
 }
 
 .header__content-description--bold-white {
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 140%;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.7);
 }
 



 
 .social__wrapper {
     padding: 124px 231px 140px 231px;
 }
 
 .socials__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     opacity: 0.7;
 }
 



 
 .main__wrapper {
   display: flex;
   padding: 0px 222px 0px 25px;
 }
 
 .main__pic {
   margin-right: 155px;
 }

 .description__subtitle {
   margin-top: 52px;
}
 
 .main-description__title {
   text-transform: capitalize;
   color: #000000;
   margin-bottom: 25px;
 }
 
 .description__title--normal {
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 39px;
   line-height: 135%;
   text-transform: capitalize;
   color: #000000;
 }
 
 .description__text {
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160%;
   text-transform: capitalize;
   color: rgba(1, 7, 13, 0.7);
   margin-bottom: 45px;
 }
 
 .main__box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 25px;
   max-width: 496px;
 }

 .main__box:last-child {
   margin-bottom: 0;
 }
 
 .box__img {
   width: 32px;
   height: 32px;
   margin-right: 15px;
 }
 
 .box__text {
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160%;
   text-transform: capitalize;
   color: #01070D;
   opacity: 0.5;
 } 
 





 .information__wrapper {
   max-width: 1143px;
   margin: 0 auto;
 }
 
 .information__inner {
   display: flex;
 }

 .information__description {
   max-width: 490px;
 }

 .information-description__title {
  text-transform: capitalize;
  color: #01070D;
  margin: 10px 50px 42px 0px;
 }

 /*Аккордеон начало*/

 .information__box {
   max-width: 472px;
   margin-right: 100px;
   border: 1px solid rgba(1, 7, 13, 0.1);
   border-radius: 5px;
   margin-bottom: 15px;

 }

 .information__box-item { 
   padding: 12px 24px;
 }
 
 .box-item__title {
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160%;
   color: #01070D;
   opacity: 0.5;
   margin-right: 71px;
   display: block;
   cursor: pointer;
   position: relative;
 }

 .box-item__title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #01070D transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: -65px;
    transform: translateY(-50%);
 }

 .box-item__input {
   width: 0;
   height: 0;
   appearance: none;
   position: absolute;
 }

 .box-item__input:checked ~ .box-item__title {
   background-color: #fff;
 }

 .box-item__input:checked ~ .box-item__title:after {
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #01070D transparent transparent transparent;
 }

 .box-item__input:checked ~ .box-item__text {
   display: block;
 }

 .box-item__text {
  display: none;
  position: relative;
 }
 

 .text__item {
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 150%;
   color: rgba(1, 7, 13, 0.6);
 }

  .box__text--blue {
    color: rgba(29, 146, 255, 0.65);
  }

  /*Аккордеон конец*/

  .information__btn--blue {
    padding: 15px 62px;
    background-color: #1D92FF;
    color: #fff;
    text-transform: capitalize;
    margin-right: 20px;
  }

  .information__btn--white {
    padding: 15px 55px;
    border: 1px solid rgba(29, 146, 255, 0.1);
    border-radius: 4px;
    background-color: #fff;
    color: #1D92FF;
    text-transform: capitalize;
  }

 .information__pic {
   margin-right: -197px;
 }





.benefits__wrapper {
  max-width: 1146px;

}

.benefits__description {
  max-width: 608px;margin: 0 auto;
  text-align: center;
}

.benefits__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 44px 67px;
}

.benefits__item {
  max-width: 226px;
  margin-right: 166px;
}

.benefits__icon {
  background: url('img/square.png') no-repeat;
  width: 90px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.benefits__icon-img {
  width: 24px;
  height: 24px;
}

.benefits__inner--title {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 15px;
}

.description__text {
  
}


 
 
 