body, ul, li, logo, h1, h2, h3, p, hr .group2 {
     margin: 0;
     padding: 0;
}

* {
     box-sizing: border-box;
}

li {
     list-style: none;
}

.header {
      background: #002547;
}

.wrapper {
     /*display: flex;
     align-items: center;
     justify-content: space-between;*/
     width: 1600px;
     margin: 0 auto;
}

.header_wrapper {
     padding: 67px 231px 130px 231px;
     background: url('./img/computer.png') no-repeat;
     background-position-x: 772px;
     background-position-y: -20px;
     background-size: 832px;
} 

.test {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.logo {
     width: 110px;
     height: 42px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.logo_text {
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 33px;
     color: #FFFFFF;
}

.list {
     display: flex;
}

.list_item {
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 130%;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.6);
     margin-right: 40px ;
}

.list_item:last-child {
     margin-right: 0px
} 

.btn {
     background: #FFFFFF;
     border-radius: 5px;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 130%;
     color: #1D92FF;
     outline: none;
     border: none;
     cursor: pointer;
}

.header_btn {
     width: 147px;
     height: 53px;
}

.test2 {
     margin-top: 126px;
}

.header_title {
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 160%;
     color: #1D92FF;
     letter-spacing: 0.05em;
     text-transform: uppercase;
}

.header_description {
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 60px;
     line-height: 140%;
     text-transform: capitalize;
     color: #FFFFFF;
     width: 580px;
}

.real {
     font-weight: 600;
     color: #1D92FF;
     position: relative;
}

.real::before {
     content: '';
     width: 59px;
     height: 3px;
     background-color: #1D92FF;
     top: 59px;
     position: absolute;
}

.real::after {
     content: '';
     width: 59px;
     height: 3px;
     background-color: #FFFFFF;
     top: 59px;
     right: 0px;
     position: absolute;
}

.saas {
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 60px;
     line-height: 140%;
     text-transform: capitalize;
     color: #1D92FF;
}

.header_description2 {
     margin-top: 25px;
     margin-bottom: 40px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 160%;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.7);
     width: 392px;
}

.commerce {
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 160%;
     text-decoration-line: underline;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.9);
}

.header_btn2 {
     width: 205px;
     height: 53px;
}

.header_btn3 {
     margin-left: 30px;
     margin-bottom: 40px;
     text-transform: capitalize;
     color: #FFFFFF;
     width: 205px;
     height: 53px;
     border: 1px solid rgba(255, 255, 255, 0.1);
     box-sizing: border-box;
     border-radius: 3px;
     background: #002547;
}

.line {
     width: 457px;
     height: 0px;
     opacity: 0.2;
     border: 0.5px solid #FFFFFF;
}

.header_description3 {
     margin-top: 14px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 140%;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.5);
     width: 408px;
}

.mastercard {
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 140%;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.7);
}

/*Content===========================================================*/

.main {
     background: #E5E5E5;
}

.main__wrapper {
     width: 1600px;
     margin: 0 auto;
}

.group1 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     opacity: 0.7;
     padding: 132px 231px 140px 231px;
}

.fedx {
     width: 98.77px;
     height: 52.26px 
}

.amazon {
     width: 143.98px;
     height: 49.61px;
}

.fedex {
     width: 164.77px;
     height: 52.26px;
}

.google {
     width: 155.28px;
     height: 51.47px;
}

.microsoft {
     width: 210.58px;
     height: 52.26px;
}

.group2 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 231px 0x 153px;
}

.schedule {
     width: 675px;
     height: 574px;
     margin-left: 70px;
}

.group2__conteyner {
     width: 496px;
     margin-right: 165px;
}

.main_title {
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 160%;
     letter-spacing: 0.05em;
     text-transform: uppercase;
     color: #1D92FF;
}

.main_deskription {
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 39px;
     line-height: 135%;
     text-transform: capitalize;
     color: #000000;
     width: 420px;
     margin-top: 10px;
}

.saas_2 {
     font-weight: normal;
}

.main_deskription_2 {
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 160%;
     text-transform: capitalize;
     color: rgba(1, 7, 13, 0.7);
     margin-top: 25px;
     margin-bottom: 45px;
     width: 440px;
}

.commerce_2 {
     font-weight: 600;
}

.card {
     display: flex;
     margin-bottom: 25px;
}

.arrow_2 {
     width: 32px;
     height: 32px;
     margin-right: 15px;
}

.main_deskription_3 {
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 160%;
     text-transform: capitalize;
     color: #01070D;
     opacity: 0.5;
     width: 377px;
}

.hand {
     width: 32px;
     height: 32px;
     margin-right: 15px;
}

.group3 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 1600px;
}

.group3__conteyner {
     width: 490px;
     height: 723px;
     margin-left: 227px;
}

.schedule2 {
     width: 782px;
     height: 723px;
     left: 818px;
     top: 1880px;
}

.list_1 {
     width: 490px;
     height: 414px;
     margin-top: 42px;
     background: #FFFFFF;
}

.main_btn_1 {
     width: 198px;
     height: 49px;
     background:  #1D92FF;
     color: #FFFFFF;
     border-radius: 4px;
     text-transform: capitalize;
     margin-top: 45px;
     margin-right: 25px;
}

.main_btn_2 {
     width: 198px;
     height: 49px;
     border-radius: 4px;
     text-transform: capitalize;
     color: #1D92FF;
}

.group4 {
     width: 1146px;
     height: 858px;
     background: #FFFFFF;
     margin: 0 auto;
}

.group4_conteyner {
     width: 628px;
     height: 195px;
     margin: 0 auto;
}

.main_title_group4 {
     text-align: center;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 160%;
     text-align: center;
     letter-spacing: 0.05em;
     text-transform: uppercase;
     color: #1D92FF;
}

.main_deskription_group4 {
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 39px;
     line-height: 135%;
     text-align: center;
     color: #000000;
     width: 628px;
     height: 106px;
}

.main_text {
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 160%;
     text-align: center;
     color: rgba(0, 0, 0, 0.7);
     margin: 0 auto;
}

.group4_conteyner1 {
     display: flex;
     width: 1146px;
     height: 603px;
     margin: 0 auto;
     border-style: dashed;
     border-bottom: none;
     border-width: 1px;
     border-color:  #77beff;
     flex-wrap: wrap;
}

.box {
     width: 226px;
     height: 208,5px;
     background: #E5E5E5;
}

.hammer {
     
}

.box_title {
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 150%;
     text-transform: capitalize;
     color: #000000;
}

.box_text {
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 160%;
     text-align: center;
     color: rgba(1, 7, 13, 0.7);
}
